<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ project?.name | titlecase}}
            <span class="badge bg-dark rounded-pill float-end" [ngClass]="inCompletedTasksCount! > 0 ? 'show':'hide'">Yapılacak iş sayısı {{ inCompletedTasksCount  }}</span>
        </h4>
        <p class="card-text">{{ project?.description | lowercase | kebab}}</p>
        <p class="card-text">{{ project?.startDate | date : 'fullDate'}}</p>
        <p class="card-text">{{project?.completedPercent | percent: '2.0-2'}}</p>
        
        <app-project-tasks-list [tasks]="project?.tasks"></app-project-tasks-list>
        

    </div>
</div>
<button (click)="mesajGoster()">Tıkla</button>